.skill-warpper{
 position: relative;
 width: 100%;
 height: 200px;
 margin: 20px;
}
.skill{
    position: absolute;
    background-color: #fff;
    color: #000;
    font-size:16px ;
    border-radius: 5px;
    min-width: 75px;
    width: fit-content;
    display: block;
    padding: 4px;
    text-align: center;
    box-shadow: 0px 2px 5px 3px rgba(0,0,0,0.3);
    left: 80%;
    top:0.5% ;

}